<h1>New provider_role</h1>

<% form_for(@provider_role) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :role_id %><br />
    <%= f.text_field :role_id %>
  </p>
  <p>
    <%= f.label :provider_id %><br />
    <%= f.text_field :provider_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', provider_roles_path %>