<h1>Editing encounter_reason</h1>

<% form_for(@encounter_reason) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @encounter_reason %> |
<%= link_to 'Back', encounter_reasons_path %>