<div class="patient_encounter_listing">
<h1>Listing Patients Encounters</h1>

<table>
  <tr>
    <th>Start Date</th>
    <th>Patient</th>
    <th>Provider</th>
	<th>Institution</th>
	<th>Notes</th>
	<th>Encounter Type</th>
	<th>Encounter Reason</th>
  </tr>

<% @patient_encounters.each do |patient_encounter| %>
  <tr>
    <td><%=h patient_encounter.start_date %></td>
    <td><%=h patient_encounter.patient_id %></td>
    <td><%=h patient_encounter.provider_id %></td>
	<td><%=h patient_encounter.institution_id %></td>
	<td><%=h patient_encounter.notes %></td>
	<td><%=h patient_encounter.encounter_type_id %></td>
	<td><%=h patient_encounter.encounter_reason_id %></td>

    <td><%= link_to 'Show', patient_encounter %></td>
    <td><%= link_to 'Edit', edit_patient_encounter_path(patient_encounter) %></td>
    <td><%= link_to 'Destroy', patient_encounter, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New patient encounter', new_patient_encounter_path %>
</div>