<div class="page_header">
<h1>New Patient Encounter</h1>
</div>
<br />

<div id="patient_encounter">
<% form_for(@patient_encounter) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %><br/>
  </p>
  <p>
    <%= f.label :patient_id %><br />
  	<%= collection_select(:patient_encounter,    
	  :patient_id,    
	  @patients,    
	  :id,    
	  :last_name,    
	  {:include_blank => 'Please Select'}
	) %>
</p>
 <p>
    <%= f.label :provider_id %><br />
  	<%= collection_select(:patient_encounter,    
	  :provider_id,    
	  @providers,    
	  :id,    
	  :last_name,    
	  {:include_blank => 'Please Select'}
	) %>
</p>
<p>
    <%= f.label :institution_id %><br />
  	<%= collection_select(:patient_encounter,    
	  :institution_id,    
	  @institutions,    
	  :id,    
	  :name,    
	  {:include_blank => 'Please Select'}
	) %>
</p>
<p>
    <%= f.label :encounter_type_id %><br />
  	<%= collection_select(:patient_encounter,    
	  :encounter_type_id,    
	  @encounter_types,    
	  :id,    
	  :description,    
	  {:include_blank => 'Please Select'}
	) %>
</p>
<p>
    <%= f.label :encounter_reason_id %><br />
  	<%= collection_select(:patient_encounter,    
	  :encounter_reason_id,    
	  @encounter_reasons,    
	  :id,    
	  :description,    
	  {:include_blank => 'Please Select'}
	) %>
</p>

<p>
	<%= f.label :notes %><br/>
	<%= f.text_area :notes%>
<p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', patient_encounters_path %>
</div>