<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>
			MedaData Version 0.1
		</title>
		<%= stylesheet_link_tag 'reset' %>
		<%= stylesheet_link_tag 'application' %>
		<%= stylesheet_link_tag 'patient_encounter'%>
		<link rel="icon" type="image/jpg" href="http://localhost:3000/medadata_logo.jpg" />
		
	</head>
	<body>
		<div id="module_bar">
			<p>
				Laboratory | Pharmacy | Public Health | DOT | TB | HIV | OI/STI | In Patient | Out Patient | VCT | Chronic Care | Reporting | Human Resources | Infrastructure
			</p>
		</div>
		<div id="header">
			<h3>
				<% if current_user %><%= link_to "Edit Profile", edit_user_path(:current) %> | <%= link_to "Log-out", logout_path %><% else %><%= link_to "Register", new_user_path %> | <%= link_to "Login", login_path %> <% end %>
			</h3>
			<h1>
				MEDADATA 
			</h1>
			<div id="Tabs">
				<ul id="MainTabs">
					<li>
						<%= link_to "Dashboard", patient_encounters_path %>
						
					</li>
					<li>
						<a href="#" title="">Scheduler</a>
					</li>
					<li>
						<%= link_to "My Patients", patients_path%>
					
					</li>
					<li style="float: right">
						<a href="#" title="Application Settings">Settings</a>
					</li>
					<li style="float: right">
						<a href="#">Search</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="Wrapper" style="position: relative;">
			<div id="screen_body" class="container">
				<table class="layout">
					<tbody>
						<tr>
							<td class="left">
								<div class="Left">
									<div class="col">
										<%= yield %>
									</div>
									<div class="bottom"></div>
									<div id="medadata_badge_footer" class="footer">
								</div>
							</td>
							<td class="right">
								
							<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="170" height="270" id="kiva badge 1.2" align="middle"><param name="allowScriptAccess" value="always" /><param name="allowFullScreen" value="false" /><param name="movie" value="http://www.humsara.com/projects/kiva/kivabadge.swf" /><param name="quality" value="high" /><param name="bgcolor" value="#ffffff" /><param name=FlashVars value="uid=gavin5556"><embed src="http://www.humsara.com/projects/kiva/kivabadge.swf" quality="high" bgcolor="#ffffff" width="170" height="270" name="HumsaraKivaBadge" align="middle" allowScriptAccess="always" allowFullScreen="false" FlashVars="uid=gavin5556" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" /></object>
							</td>
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
